aiohttp==3.7.4.post0
aiolimiter==1.0.0b1
anyio==3.3.0
appdirs==1.4.4
argon2-cffi==20.1.0
async-timeout==3.0.1
atpublic==2.3
attrs==21.2.0
backcall==0.2.0
backoff==1.11.1
black==21.7b0
bleach==4.0.0
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
commonmark==0.9.1
configobj==5.0.6
cryptography==3.4.7
cycler==0.10.0
DateTime==4.3
debugpy==1.4.1
decorator==5.0.9
defusedxml==0.7.1
dictdiffer==0.9.0
diskcache==5.2.1
distro==1.6.0
dpath==2.0.1
dulwich==0.20.24
dvc==2.6.3
entrypoints==0.3
fastcore==1.3.26
fastrelease==0.1.12
flake8==3.9.2
flatten-dict==0.4.2
flufl.lock==3.2
fsspec==2021.7.0
ftfy==6.0.3
funcy==1.16
future==0.18.2
gcsfs==2021.7.0
ghapi==0.1.19
gitdb==4.0.7
GitPython==3.1.18
google-api-core==1.31.2
google-api-python-client==2.17.0
google-auth==1.35.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.5
googleapis-common-protos==1.53.0
grandalf==0.6
httplib2==0.19.1
idna==3.2
ipykernel==6.2.0
ipython==7.26.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==3.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyter-server==1.10.2
jupyter-server-mathjax==0.2.3
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
-e git+https://github.com/Lowe-Institute/data-automation.git@4025b45c6c79888c9753f2b562a5642eb404262d#egg=lowe
mailchecker==4.0.11
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.2
mccabe==0.6.1
mistune==0.8.4
multidict==5.1.0
mypy-extensions==0.4.3
nanotime==0.5.2
nbclient==0.5.4
nbconvert==5.6.1
nbdev==1.1.21
nbdime==3.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.2
notebook==6.4.3
numpy==1.21.2
oauth2client==4.1.3
oauthlib==3.1.1
packaging==21.0
pandas==1.3.2
pandocfilters==1.4.3
parso==0.8.2
pathspec==0.8.1
phonenumbers==8.12.29
pickleshare==0.7.5
Pillow==8.3.1
ply==3.11
prometheus-client==0.11.0
prompt-toolkit==3.0.19
protobuf==3.17.3
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.20
pydot==1.4.2
PyDrive2==1.9.1
pyflakes==2.3.1
pygit2==1.6.1
Pygments==2.10.0
pygtrie==2.4.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrsistent==0.18.0
python-benedict==0.24.2
python-dateutil==2.8.2
python-dotenv==0.19.0
python-fsutil==0.5.0
python-slugify==5.0.2
pytz==2021.1
pywin32==301
pywinpty==1.1.3
PyYAML==5.4.1
pyzmq==22.2.1
qtconsole==5.1.1
QtPy==1.10.0
ratelimit==2.2.1
regex==2021.8.3
requests==2.26.0
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
rich==10.7.0
rsa==4.7.2
ruamel.yaml==0.17.10
ruamel.yaml.clib==0.2.6
Send2Trash==1.8.0
shortuuid==1.0.1
shtab==1.3.10
six==1.16.0
smmap==4.0.0
sniffio==1.2.0
tabulate==0.8.9
terminado==0.11.0
testpath==0.5.0
text-unidecode==1.3
toml==0.10.2
tomli==1.2.1
tornado==6.1
tqdm==4.62.1
traitlets==5.0.5
typing-extensions==3.10.0.0
uritemplate==3.0.1
urllib3==1.26.6
voluptuous==0.12.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
widgetsnbextension==3.5.1
win-unicode-console==0.5
wincertstore==0.2
xmltodict==0.12.0
yarl==1.6.3
zc.lockfile==2.0
zope.interface==5.4.0
